<div style="background-image: url(assets/images/bg.jpg);
height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">

  <app-header></app-header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">

        <app-post-create (postCreated)="onPostAdded($event)"></app-post-create>

        <div class="dropdown-divider"></div>

        <app-post-list [posts]="storedPosts"></app-post-list>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <app-footer></app-footer>

</div>